.btn {
    background-color: aqua;
    width: 25px;
    border-radius: 10px;
    margin: 5px;
    align-self: flex-end;
}

.btnColor {
    color: white
}

.btn:hover{
    color: red;
    background-color: white;
}

.middleDiv {
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

.card {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-content: center;
    border: 2px solid grey;
    border-radius: 10px;
    height: 250px;
}

.cardDifferent {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-content: center;
    border: 2px solid grey;
    border-radius: 10px;
    height: 250px;
    background-color: orangered;
}

.divTemperature{
    margin: 5px;
}